/****** Object:  Database [SqlSat921]    Script Date: 28/03/2020 16:59:40 ******/
CREATE DATABASE [SqlSat921]  ;
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 28/03/2020 16:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Street] [nvarchar](100) NOT NULL,
	[ZipCode] [char](5) NOT NULL,
	[CityId] [int] NOT NULL,
	[Phone] [varchar](100) NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 28/03/2020 16:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurants]    Script Date: 28/03/2020 16:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Street] [nvarchar](100) NULL,
	[ZipCode] [char](5) NULL,
	[CityId] [int] NULL,
	[Phone] [varchar](20) NULL,
	[ImageUrl] [varchar](1000) NULL,
	[WebSite] [varchar](1000) NULL,
 CONSTRAINT [PK_Restaurants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 28/03/2020 16:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RestaurantId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
	[Tags] [nvarchar](max) NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/03/2020 16:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [varchar](50) NULL,
	[Role] [varchar](100) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name]) VALUES (1, N'Taggia')
INSERT [dbo].[Cities] ([Id], [Name]) VALUES (2, N'Arma di Taggia')
INSERT [dbo].[Cities] ([Id], [Name]) VALUES (3, N'Bussana')
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[Restaurants] ON 

INSERT [dbo].[Restaurants] ([Id], [Name], [Street], [ZipCode], [CityId], [Phone], [ImageUrl], [WebSite]) VALUES (1, N'I Portici', N'Via Soleri 14', N'18018', 1, N'0184 462007', N'https://media-cdn.tripadvisor.com/media/photo-s/14/98/89/c6/tavolate-sotto-i-portici.jpg', N'https://www.facebook.com/I-Portici-144037015705203/')
INSERT [dbo].[Restaurants] ([Id], [Name], [Street], [ZipCode], [CityId], [Phone], [ImageUrl], [WebSite]) VALUES (2, N'Osteria del Cavallo Bianco', N'Via Rimembranza, 4', N'18018', 1, N'0184 460124
', N'https://media-cdn.tripadvisor.com/media/photo-s/09/95/35/ca/20151122-130521-largejpg.jpg', N'https://latopinadellavalleargentina.wordpress.com/2012/12/06/osteria-cavallo-bianco')
INSERT [dbo].[Restaurants] ([Id], [Name], [Street], [ZipCode], [CityId], [Phone], [ImageUrl], [WebSite]) VALUES (3, N'Ristorante Pizzeria Solidago', N'Traversa I Stazione 24', N'18018', 2, N'0184 43108
', N'http://www.solidagohotel.com/images/sala_1.jpg', N'http://www.solidagohotel.com/')
SET IDENTITY_INSERT [dbo].[Restaurants] OFF
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [UserId], [RestaurantId], [Rating], [Comment], [Date], [Tags]) VALUES (1, 1, 5, 5, N'La migliore pizzeria di Arma', CAST(N'2020-01-06T00:00:00.000' AS DateTime), N'[{ "Value": "#food"}, {"Value": "#dinner"}]')
INSERT [dbo].[Reviews] ([Id], [UserId], [RestaurantId], [Rating], [Comment], [Date], [Tags]) VALUES (2, 2, 5, 3, N'Pizza buona, ma tempi di attesa parecchio lunghi', CAST(N'2020-01-02T00:00:00.000' AS DateTime), N'[{ "Value": "#pizza"}, {"Value": "#slurp"}, {"Value": "#waiting"}]')
INSERT [dbo].[Reviews] ([Id], [UserId], [RestaurantId], [Rating], [Comment], [Date], [Tags]) VALUES (3, 6, 12, 1, N'Odio la musica mentre mangio. Il volume è talmente alto che non si riesce neanche a parlare con le persone vicine', CAST(N'2020-01-11T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [Role]) VALUES (1, N'Marco', N'marco.minerva@gmail.com', N'Administrator')
INSERT [dbo].[Users] ([Id], [Name], [Email], [Role]) VALUES (2, N'Andrea', NULL, N'User')
INSERT [dbo].[Users] ([Id], [Name], [Email], [Role]) VALUES (3, N'Riccardo', NULL, N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Cities]
GO
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD  CONSTRAINT [FK_Restaurants_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Restaurants] CHECK CONSTRAINT [FK_Restaurants_Cities]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Restaurants] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurants] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Restaurants]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
/****** Object:  StoredProcedure [dbo].[AddRestaurant]    Script Date: 28/03/2020 16:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddRestaurant]
	-- Add the parameters for the stored procedure here
	@name nvarchar(100), @street nvarchar(100) = NULL,
	@zipCode char(5) = NULL, @cityId int = NULL,
	@phone varchar(20) = NULL, @imageUrl varchar(1000) = NULL,
	@webSite varchar(1000) = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO Restaurants(Name, Street, ZipCode, CityId, Phone, ImageUrl, WebSite)
		VALUES(@name, @street, @zipCode, @cityId, @phone, @imageUrl, @webSite)

	RETURN SCOPE_IDENTITY()
END
GO
